* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.curriculo {
 hello-world
  max-width: 1500px;
  max-height: 1000px;

  max-width: 1200px;
  max-height: 400px;
 main
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.esquerda {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 0px;
  padding: 20px;
  grid-column: span 2;
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 5px 0px 0px 5px;
 hello-world
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

 main
}

.perfil,
.informacoes,
.titulo,
.subtitulo,
.titulo2,
.subtitulo2,
.lista1 {
  background-color: inherit;
  color: darkblue;
}

.direita {
  margin-top: 20px;
  margin-bottom: 20px;
 hello-world
  margin-left: -44px;
  margin-right: 100px;

  margin-left: 0px;
  margin-right: 20px;
 main
  padding: 20px;
  grid-column: span 5;
  height: 100%;
  color: darkblue;
  background-color: azure;
  border-radius: 0px 5px 5px 0px;
 hello-world
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

 main
}

.descricao,
h1,
h2,
h3,
p,
li {
  background-color: azure;
}

 hello-world
.semordem,
.ordem {
  background-color: inherit;
}

li {
  margin-left: 20px;
}

ul,
ol {
  display: list-item;
}

ul li {
  list-style-type: disc;
}

.ordem li {
  list-style-type: decimal;
}


 main
/* EDIÇÕES GERAIS */
h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

img {
  max-width: 200px;
  border-radius: 100%;
  border: solid 2px;
 hello-world
  border-color: #4e74ba;
  /* Colocar sombra atrás das bordas */
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); */

  border-color: darkblue;
 main
}

br {
  display: block;
  content: "";
  margin-top: 10px;
}
